*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }

.btn {
  background-color: #c69963;
  border: none;
  border-radius: none;
  color: #fff;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1; }

.header {
  background-color: #54483A;
  grid-column: full-start/col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/ full-end; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: [icon-start] min-content [icon-end text-start] 1fr [text-end];
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem; }
  .feature__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #c69963;
    grid-row: 1/ span 2;
    transform: translateY(-0.5rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
  grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
  align-items: center; }

.story__img--1 {
  box-shadow: 8 2rem 5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  grid-row: row-start 2/ row-end 6;
  grid-column: col-start 2/ col-end 5; }

.story__img--2 {
  box-shadow: 8 2rem 5rem rgba(0, 0, 0, 0.2);
  width: 115%;
  grid-row: row-start 4/ row-end 6;
  grid-column: col-start 4/ col-end 6;
  z-index: 20; }

.story__content {
  background-color: #f9f7f6;
  /* Flexbox approach
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    */
  /*CSS Grids approach */
  display: grid;
  align-content: center;
  justify-items: start;
  grid-column: col-start 5/ full-end;
  padding: 6rem 8vw; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  background-color: #101d2c;
  grid-column: center-start/center-end; }

.gallery {
  background-color: #54483A;
  grid-column: full-start/full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end; }
