.story {
  &__pictures {
    background-image: linear-gradient(rgba($color-primary, .5),rgba($color-primary, .5) ), 
    url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: full-start/col-end 4;
    display: grid;
    grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
    align-items: center;
  }

  &__img--1 {
    box-shadow: 8 2rem 5rem rgba(#000,.1);
    width: 100%;
    grid-row:  row-start 2/ row-end 6;//2/6;
    grid-column: col-start 2/ col-end 5;
  }

  &__img--2 {
    box-shadow: 8 2rem 5rem rgba(#000,.2);
    width: 115%;
    grid-row:  row-start 4/ row-end 6;//2/6;
    grid-column: col-start 4/ col-end 6;
    z-index: 20;
  }

  &__content {
    background-color: $color-grey-light-1;
    
    /* Flexbox approach
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    */

    /*CSS Grids approach */
    display: grid;
    align-content: center;
    justify-items: start;
    grid-column: col-start 5/ full-end;
    
    padding: 6rem 8vw;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}